In [1]:
import pandas as pd
import numpy as np


data = {'a' : ['a', 'b', 'a', 'a', 'a', 'c'] * 100,
        'b' : np.random.randint(1, 101, size=600)}

df = pd.DataFrame(data)

In [2]:
print(df.groupby('a').sum())
print(df.groupby('a').mean())
print(df.groupby('a').max())
print(df.groupby('a').min())

       b
a
a  21283
b   4826
c   5218
         b
a
a  53.2075
b  48.2600
c  52.1800
     b
a
a  100
b   99
c  100
   b
a
a  1
b  1
c  1

In [3]:
## 최빈값은?
df.groupby('a').agg(pd.Series.mode)

          b
a
a        86
b  [79, 99]
c  [22, 72]

In [5]:
import collections
sorted(collections.Counter(df[df['a']=='b']['b']).items(), key=lambda x: x[1], reverse=True)[:2]

[(99, 4), (79, 4)]